extends ../layout

block content
  .admin-cities
    h4 List Of Cities
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.admin-cities_table
      thead
        tr
          th Name
          th ID
          th Action
          th Action
          th Action
      tbody
        each city in cities
          tr
            td #{city.name}
            td #{city._id}
            td
              a(href="cities/" + city._id + "/neighborhoods") Show Neighborhoods
            td
              a(href="cities/" + city._id + "/get-city-payments") Get city payments
            td
              a(href="cities/" + city._id + "/scrape-listings-availability") Get availability
