doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/material-design-lite/material.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    .demo-layout-transparent.mdl-layout.mdl-js-layout
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title.databnb_logo dataBNB
          .mdl-layout-spacer

      .mdl-layout__drawer
        span.mdl-layout-title DataBNB
          nav.mdl-navigation
            a.mdl-navigation__link(href='/dashboard') Dashboard
            a.mdl-navigation__link(href='/settings') Settings

      main.mdl-layout__content.layout_content
        block content

    script(src='/material-design-lite/material.min.js')
