@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cities {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.cities_card {
  margin: 20px 0;
  width: 100%;
}

.cities_card-msg {
  min-height: 40px;
}

.cities_card-container {
  padding: 0 20px;
  width: 33%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

}
@media (max-width: 768px) {
  .cities_card-container {
    width: 50%;
  }
}

.databnb_logo {
  font-family: 'Lobster', cursive;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.mdl-card__title {
  height: 180px;
}

.cities_thumbnail--london {
  background: url('../images/london.jpg') center / cover;
}

.cities_thumbnail--vilnius {
  background: url('../images/vilnius.jpg') center / cover;
}

.cities_thumbnail--barcelona {
  background: url('../images/barcelona.jpg') center / cover;
}

.cities_thumbnail--paris {
  background: url('../images/paris.jpg') center / cover;
}

.cities_thumbnail--lisbon {
  background: url('../images/lisbon.jpg') center / cover;
}

.cities_thumbnail--rome {
  background: url('../images/rome.jpg') center / cover;
}
